/* Reset some styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh; /* 100% de la altura de la ventana */
    background-image: url('https://i.pinimg.com/originals/6e/52/68/6e5268949820de77bfec594e93d62b5b.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Hace que la imagen cubra toda el área */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita si es más pequeña que la pantalla */
    font-family: 'Press Start 2P', cursive;
    color: #fff;
}

h1, h2 {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: yellow;
}

header {
    padding: 20px;
}

header h1 {
    font-size: 4rem;
}

header h2 {
        font-style: italic; /* Aplica cursiva al texto */
        transform: skewX(-15deg); /* Inclina el texto hacia la derecha (ajusta el valor según lo necesites) */
        color: #fff; /* Asegura que el texto sea blanco, o ajusta el color que prefieras */
        font-size: 2rem; /* Puedes ajustar el tamaño de la fuente según lo que necesites */
        text-align: center; /* Centra el texto en la página */
        margin-top: 10px; /* Ajusta el espacio superior si es necesario */
 
}

header .header-image {
    width: 100%;
    height: all;
    max-height: all;
    object-fit: cover;
    color: skyblue;
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 10px;
}

.button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #ff3b3f;
    box-shadow: 0 0 10px rgba(255, 59, 63, 0.5);
}

main {
    padding: 20px;
    text-align: center;
}

main p {
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 20px auto;
}

a {
    color: inherit;
    text-decoration: none;
}
/* Estilos para el footer */
footer {
    position: fixed;
    bottom: 10px; /* Se coloca 10px desde el borde inferior de la ventana */
    right: 10px; /* Se coloca 10px desde el borde derecho */
    font-size: 1rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
}